body.admin-os-mode-shell #adminmenumain,
body.admin-os-mode-shell #wpfooter,
body.admin-os-mode-shell #screen-meta,
body.admin-os-mode-shell #screen-meta-links,
body.admin-os-mode-shell .notice,
body.admin-os-mode-shell .update-nag {
	display: none !important;
}

body.admin-os-mode-shell #wpcontent {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

body.admin-os-mode-shell #wpbody-content {
	padding-bottom: 0;
}

body.admin-os-mode-shell #wpbody-content > .wrap {
	display: none;
}

body.admin-os-mode-iframe #wpadminbar,
body.admin-os-mode-iframe #adminmenumain,
body.admin-os-mode-iframe #wpfooter,
body.admin-os-mode-iframe #screen-meta,
body.admin-os-mode-iframe #screen-meta-links,
body.admin-os-mode-iframe .notice,
body.admin-os-mode-iframe .update-nag {
	display: none !important;
}

body.admin-os-mode-iframe #wpcontent {
	margin-left: 0 !important;
	padding: 18px 22px 32px !important;
}

body.admin-os-mode-iframe #wpbody-content {
	padding-bottom: 0;
}
