.pdk-context-menu {
	min-width: 218px;
	position: absolute;
	z-index: calc(var(--pdk-layer-menu-popover) + 1);
}

.pdk-context-menu .pdk-menu-item {
	grid-template-columns: minmax(0, 1fr) auto;
}

.pdk-context-menu .pdk-menu-item.has-icon {
	grid-template-columns: 16px minmax(0, 1fr) auto;
}

.pdk-context-menu[data-pdk-context-menu="dock-app"] .pdk-menu-item-label {
	overflow: visible;
	text-overflow: clip;
}
